body {
    padding-top: 50px;
}

.jumbotron {
    background-image: url('../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    background-size: cover;
    margin-bottom: 0;
}

.card {
    background-color: white;
    
}

nav {
    margin-bottom: 0 !important;
    border: none !important;
}
.

 #logo-google {
     height: 18px !important;
     width: 5% !important;
     font-size: 18px;
     
 }

 .logos {
     background-color: #f3f5f9;
 }

 .logos img {
     width: 100%;
     vertical-align: ;
 }

 .deploy ul {
     border-left: 1px solid grey;
     padding-left: 10px;
 }

 .deploy li {
     line-height: 4.5rem;
     list-style: none;
     color: grey;
     font-size: 2rem;
 }
 
 .designed{
   color: #29295a;
 }

 .features{
   color: #29295a;
 }

 .pdg-0 {
     padding: 0 5px;
 }

 .logo-row {
     line-height: 123.23px;
 } 

 #server_data{
     background-color: blue;
     color: white;
 }

 #server_data .title{
     padding-top: 4rem;
 }

 .border-bottom{
     border-bottom: 1px solid white;
 }

 .bg-white {
  background-color: white;
}

.bg-grey {
  background-color: #f3f5f9;
}

.bg-blue {
  background-color: #031b4e;
}

.bg-electric-blue {
  background-color: #0067ff;
}

.bg-dark-blue {
  background-color: #031c4e;
}

.text-color{
  color: white;
}

 .px-5 {
    padding: 0 5px;
  }
  
  
  .service {
    color: white;
  }
  
  .py-10 {
    padding: 10px 0;
  }
  
  .border-bottom {
    border-bottom: 1px solid white;
  }
  
  .strong {
    font-weight: bold;
  }
  
  footer {
    position: relative;
  }
  
  .chatbot {
    position: absolute;
    bottom: 0px;
    right: 5px;
  }
  
  .chatbot-text {
    color: blue;
    display: inline-block;
    width: 60%;
    margin: 0 !important;
    padding: 5px;
  }
  
  .chatbot-logo {
    height: 75px;
    margin-bottom: 35px;
  }
  

.pad-mar{
  padding: 50px;
  margin: 20px;
}


.rgh-2{
  margin-top: 40px;
}

.rgh-3{
  margin-top: 50px;
}
.chev{
  margin-top: 180px;
}

.ma-b{
  margin-bottom: 50px;
}

.pad{
  padding: 50px;
}

.image{
  width: 100%;
}

.fas-circle{
  margin-top: 10px;
  margin-right: 5px;
}

.text-blue{
  color: #0067ff;
}



  @media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.site-footer a{
  color: #a5b1abbd;
}

.site-footer, .copy{
  color: #a5b1abbd;
  padding-top: 10px;
  padding-bottom: 20px;
}









/* customers_service */
#customers_service {
  background: url(../img/main/customers/bg-map.svg) 50% 50% / cover no-repeat rgb(3, 27, 78);
}

#box_info_customers,
#box_infotest,
#sito_footer .page_list,
#sito_footer .social_list {
  padding: 0;
  list-style: none;
}

#box_info_customers h2, 
#box_info_customers p {
  max-width: 770px;
}

#box_info_customers .text_link,
.text_link {
  color: #0069ff;
  font-family: 'Sailec';
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  font-style: normal;
  
}

#box_info_customers p {
  font-family: 'Sailec-Light';
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 150%;
  margin: 20px auto 0 auto;
}

#box_infotest>li:not(:nth-last-child(-n+2)):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 96%;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);

}

#box_infotest>li {
  margin: 0;
  padding: 10px 15px;
/*   line-height: 40px; */
}

#box_infotest>li span:first-of-type,
#box_infotest>li a {
  padding: 0;
}

#box_infotest span:first-of-type {
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
}

#box_infotest span:last-of-type {
  font-size: 13px;
  font-family: "Sailec";
  font-weight: 400;
  font-style: normal;
  color: #fff;
  opacity: 0.6;
  text-transform: capitalize;
}


#box_infotest a {  
  color: rgb(0, 215, 210);
  font-size: 12px;
  font-family: 'Sailec-Medium','Helvetica','sans-serif';
  font-style: normal;
  text-transform: capitalize;
  text-align: right;
}
