body {
    padding-top: 50px;
}

.jumbotron {
    background-image: url('../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    background-size: cover;
    margin-bottom: 0;
}

.card {
    background-color: white;
    
}

nav {
    margin-bottom: 0 !important;
    border: none !important;
}
.

 #logo-google {
     height: 18px !important;
     width: 5% !important;
     font-size: 18px;
     
 }

 .logos {
     background-color: #f3f5f9;
 }

 .logos img {
     width: 100%;
     vertical-align: ;
 }

 .deploy ul {
     border-left: 1px solid grey;
     padding-left: 10px;
 }

 .deploy li {
     line-height: 4.5rem;
     list-style: none;
     color: grey;
     font-size: 2rem;
 }
 
 .designed{
   color: #29295a;
 }

 .features{
   color: #29295a;
 }

 .pdg-0 {
     padding: 0 5px;
 }

 .logo-row {
     line-height: 123.23px;
 } 

 #server_data{
     background-color: blue;
     color: white;
 }

 #server_data .title{
     padding-top: 4rem;
 }

 .border-bottom{
     border-bottom: 1px solid white;
 }

 .bg-white {
  background-color: white;
}

.bg-grey {
  background-color: #f3f5f9;
}

.bg-blue {
  background-color: #031b4e;
}

.bg-electric-blue {
  background-color: #0067ff;
}

.bg-dark-blue {
  background-color: #031c4e;
}

.text-color{
  color: white;
}

 .px-5 {
    padding: 0 5px;
  }
  
  
  .service {
    color: white;
  }
  
  .py-10 {
    padding: 10px 0;
  }
  
  .border-bottom {
    border-bottom: 1px solid white;
  }
  
  .strong {
    font-weight: bold;
  }
  
  footer {
    position: relative;
  }
  
  .chatbot {
    position: absolute;
    bottom: 0px;
    right: 5px;
  }
  
  .chatbot-text {
    color: blue;
    display: inline-block;
    width: 60%;
    margin: 0 !important;
    padding: 5px;
  }
  
  .chatbot-logo {
    height: 75px;
    margin-bottom: 35px;
  }
  

.pad-mar{
  padding: 50px;
  margin: 20px;
}


.rgh-2{
  margin-top: 40px;
}

.rgh-3{
  margin-top: 50px;
}
.chev{
  margin-top: 180px;
}

.ma-b{
  margin-bottom: 50px;
}

.pad{
  padding: 50px;
}

.image{
  width: 100%;
}

.fas-circle{
  margin-top: 10px;
  margin-right: 5px;
  color: #0067ff;
}

.text-blue{
  color: #0067ff;
}



  @media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }


.site-footer a{
  color: #a5b1abbd;
}

.site-footer, .copy{
  color: #a5b1abbd;
  padding-top: 10px;
  padding-bottom: 20px;
}









